<%= render 'posts/modal' %>
<div class="container">
  <div class="row">
    <%= render 'pages/index/side_menu' %>
    <%= render 'pages/index/main_content' %>

<%= javascript_pack_tag 'modal' %>
<%= javascript_pack_tag 'style' %>

  </div><!-- row -->
</div><!-- container -->
